h1 {
    font-size: 100pt;
    text-align: center;
}

h3 {
    font-size: 40pt;
    text-align: center;
}

p {
    font-size: 40pt;
    text-align: center;
}
/* Font and Font Sizes */


@media screen and (min-width: 801px) and (max-width: 1920px) {}
.area {
    display: block;
    
    width: 100%;
    clear: both;

    margin-left: 50;
    margin-bottom:100px;
    box-sizing: border-box;

    background-color: #00A7FF;
    float: left;
    margin: 1%;
    padding: 1%;
}

@media screen and (min-width: 0) and (max-width: 500px) {}
    .area {
        display: block;
       
        width: 50%;
        clear: both;
        
        margin-left: 0;
        margin-bottom:50px;
        box-sizing: border-box;

        background-color: #00BCFF;
        float: left;
        margin: 1%;
        padding: 1%;

    }
        

@media screen and (min-width: 501px) and (max-width: 800px) {}
    .area {
        display: block;
        
        width: 75%;
        clear: both;
        
        margin-left: 501;
        margin-bottom:800px;
        box-sizing: border-box;

        background-color: #00BCFF;
        float: left;
        margin: 1%;
        padding: 1%;
      
}


    /* Sizes of the Images to fit whatever device has access to it */
